{% extends 'customer/layout/main.html' %}
{% block content %}

<div class="main" role="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12 center">
                <div class="heading heading-border heading-middle-border heading-middle-border-center">
                    <h1><strong>Informasi</strong></h1>
                </div>
            </div>
        </div>
        
        <div class="row mt-md mb-xl">
            {% for item in informasi_list  %}
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h2 class="card-title">{{ item.customer }}</h2>
                        <span class="float-right">{{ item.created_at }} <span class="mailbox-read-time float-right btn">Perihal  <span class="btn-primary">{{ item.perihal }}</span></span>
                    </div>
                    <div class="card-body">
                        <div class="mailbox-read-message">
                            {{ item.informasi|truncatechars:"255"|safe }}
                        </div>
                        <div class="float-right">
                            <a href="{% url 'informasi-detail-customer' item.pk %}"  class="btn btn-default"><i class="fa fa-trash-alt"></i> Detail</a>
                        </div>
                    
                    </div>
                </div>
                <br>
                <hr>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="list_mhs_info" role="status" aria-live="polite"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_simple_numbers" id="list_mhs_paginate">
                    {% if is_paginated %}
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li class="paginate_button page-item previous " id="list_mhs_previous">
                                    <a href="?page={{page_obj.previous_page_number}}"  class="page-link">Previous</a>
                                </li>
                            {% else %}
                                <li class="paginate_button page-item next disabled" id="list_mhs_next">
                                    <a href="#"  class="page-link">Previous</a>
                                </li>
                            {% endif %} 
                            
                            {% for i in page_range %} 
                                {% if page_obj.number == i %}
                                    <li class="paginate_button page-item active">
                                        <a href="#"  class="page-link">{{ i }}</a>
                                    </li>
                                {% else %}
                                    <li class="paginate_button page-item ">
                                        <a href="?page={{ i }}"  class="page-link">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li class="paginate_button page-item next" id="list_mhs_next">
                                    <a href="?page={{page_obj.next_page_number}}"  class="page-link">Next</a>
                                </li>
                            {% else %}
                                <li class="paginate_button page-item next disabled" id="list_mhs_next">
                                    <a href="#"  class="page-link">Next</a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock  %}