{% extends 'customer/layout/main.html' %}
{% block content %}

<div class="main" role="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12 center">
                <div class="heading heading-border heading-middle-border heading-middle-border-center">
                    <h1><strong>Informasi</strong></h1>
                </div>
            </div>
        </div>
        <div class="row mt-md mb-xl">
            <div class="col-md-4">
                <div class="thumb-info custom-thumb-info-4">
                    <div class="thumb-info-wrapper"><img src="https://pertaminadppubabullah.com/asset/foto_link/SPBU.jpg" class="img-responsive" /></div>
                    <div class="thumb-info-caption custom-box-shadow">
                        <div class="thumb-info-caption-text">
                            <h4 class="text-center"><a href="#" class="text-color-dark"> Produk Kami</a></h4>
                            <p class="justify">
                                Kegiatan PERTAMINA dalam menyelenggarakan usaha di bidang energi dan petrokimia, terbagi ke dalam dua sector, yaitu Hulu dan Hilir, serta ditunjang oleh kegiatan Anak-Anak Perusahaan dan Perusahaan Patungan.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumb-info custom-thumb-info-4">
                    <div class="thumb-info-wrapper"><img src="https://pertaminadppubabullah.com/asset/foto_link/renew_energy_PGE.jpg" class="img-responsive" /></div>
                    <div class="thumb-info-caption custom-box-shadow">
                        <div class="thumb-info-caption-text">
                            <h4 class="text-center"><a href="" class="text-color-dark"> Energi Terbarukan</a></h4>
                            <p class="justify">Pertamina mengembangkan energi terbarukan seperti solar photovoltaic (solar cell), mikrohidro, green diesel, bio LNG dan lainnya.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumb-info custom-thumb-info-4">
                    <div class="thumb-info-wrapper"><img src="https://pertaminadppubabullah.com/asset/foto_link/investor_relation.jpg" class="img-responsive" /></div>
                    <div class="thumb-info-caption custom-box-shadow">
                        <div class="thumb-info-caption-text">
                            <h4 class="text-center"><a href="" class="text-color-dark"> Pemegang Saham</a></h4>
                            <p class="justify">Pertamina adalah perusahaan energi nasional yang sahamnya 100% dimiliki oleh Pemerintah Republik Indonesia melalui kementerian Badan usaha milik negara(BUMN) selaku pemegang saham.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock  %}