{% extends 'customer/layout/main.html' %}
{% load costom_tag %}
{% block css %}{{ form.media.css }}
{% endblock %}
{% block content %}
<style></style>
<div class="main" role="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12 center">
                <div class="heading heading-border heading-middle-border heading-middle-border-center">
                    <h1><strong>Response Keluhan</strong></h1>
                </div>
            </div>
        </div>
    
        <div class="row mt-md mb-xl">
            <div class="col">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Keluhan</h6>
                    </div>
                    <div class="card-body">
                        <h2>Keluhan dari&nbsp;{{keluhan.user.ptm_location}} - {{ keluhan.user.customer }} </h2>
                        <h4><strong>Perihal : {{keluhan.perihal}}</strong></h4>
                        <p>{{ keluhan.komentar | safe }}</p>
                        {% if keluhan.attachments %}
                            <a href="#" class="pop">
                                <img src="{{ keluhan.attachments.url }}"
                                        width="70"
                                        height="70"
                                        alt=""
                                        srcset="">
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <br>

            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-bullhorn"></i>
                        Tanggapan
                    </h3>
                </div>
                
                <div class="card-body">
                    {% for item in tanggapan  %}
                    <div class="card border-left-primary shadow">
                        <div class="">
                            <div class="card-body">
                                <h4><strong>{{ item.user }}</strong></h4>
                                <p>{{ item.komentar | safe }}</p>
                                {% if item.attachments %}
                                    <a href="#" class="pop">
                                        <img src="{{ item.attachments.url }}"
                                                width="70"
                                                height="70"
                                                alt=""
                                                srcset="">
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <br>
                  {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
{{ form.media.js }}

{% endblock  %}