{% extends 'customer/layout/main.html' %}
{% block content %}
<div class="" role="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12 center">
                <div class="heading heading-border heading-middle-border heading-middle-border-center">
                    <h1><strong>Survey</strong></h1>
                </div>
            </div>
            <div class="card-body">
                <div role="main" class="form-all">
                    <div class="card text-center">
                        {% for item in list_survey  %}
                        <div class="card-header">
                            Featured
                        </div>
                        <div class="card-body">
                            <h4>Kepadat Yth <b>Pimpinan Garuda Indonesia</b> </h4>
                            <p class="card-text">Suara Anda adalah motivasi kami. Kami ingin mengetahui persepsi Anda tentang Pertamina DPPU Mopah yang akan kami gunakan untuk menjaga, memperbaiki, dan meningkatkan kinerja kami melayani Anda</p>
                            <p class="card-text">{{ item.name }}</p>
                            <a href="{% url 'survey-detail-customer' item.pk %}" class="btn btn-primary">Go somewhere</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
