{% extends 'customer/layout/main.html' %}
{% block content %}
<div class="" role="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12 center">
                <div class="heading heading-border heading-middle-border heading-middle-border-center">
                    <h1><strong>Survey</strong></h1>
                </div>
            </div>
            <div class="card-body">
                <div role="main" class="form-all">
                    <div class="card text-center">
                        {% for item in list_survey  %}
                        <div class="card-header">
                            Featured
                        </div>
                        <div class="card-body">
                            <h4>Mohon maaf <b>untuk layanan survey belum aktif</b> </h4>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
