{% extends 'admin-panel/layouts/main.html' %}
{% load static %}

{% block content %}
    <!-- Page Heading -->
    {% include 'admin-panel/component/content_header.html' %}
    
    <div class="row">
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{ header_title }}</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="datatable" class="table table-striped table-bordered"
                           data-toggle="data-table">
                           <thead>
                              <tr>
                                 <th>Nama</th>
                                 <th>Deskripsi</th>
                                 <th>Action</th>
                              </tr>
                           </thead>
                           <tbody>
                              {% for item in survey_list %}
                                <tr>
                                    <td>
                                        <a href="{% url 'ptm-update' item.id %}">
                                            {{ item.name }}
                                        </a>    
                                    </td>
                                    <td>{{ item.description }}</td>
                                    <td>
                                        <a href="{% url 'ptm-update' item.id %}"
                                            type="button" class="btn btn-outline-warning"><i class="fa fa-edit"></i></a>
                                        <a href="{% url 'question-create' survey_id=item.id %}"
                                            type="button" class="btn btn-outline-info"><i class="fa fa-plus"></i></a>
                                            <a href="{% url 'question-list' survey_id=item.id %}"
                                            type="button" class="btn btn-outline-primary"><i class="fa fa-eye"></i></a>
                                        <a href="{% url 'ptm-delete' item.id %}" 
                                            class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                              {% endfor %}
                           </tbody>
                        </table>
                     </div>
                </div>
            </div>
        </div>
    </div>


{% endblock  %}