{% extends 'admin-panel/layouts/main.html' %}
{% load static %}
{% load costom_tag %}

{% block content %}
    <!-- Page Heading -->
    {% include 'admin-panel/component/content_header.html' %}
    
    <div class="row">
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{ header_title }}</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th rowspan="1">Kriteria (Criteria)</th>
                                    {% for item in customers %}
                                        <th colspan="1" style="text-align: center;">{{ item.name }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for item in questions  %}
                                <tr>
                                    <td>{{ item.question }}</td>
                                    {% for cus in customers %}
                                        <th>{{item.id|survey_result:cus.id}}</th>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                                
                                <!-- Add more rows for other criteria and performance data -->
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            
            {% for item in comments  %}
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">{{ item.question }}</h6>
                    </div>
                    <div class="card-body">
                        {{ item.resp_text }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock  %}