{% load static %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-text mx-3">Suervey App</div>
    </a>
    
    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'dashboard-admin' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Survey
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'survey-list' %}">
            <i class="fas fa-fw fa-poll-h"></i>
            <span>Survey</span></a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-poll"></i>
            <span>Hasil Survey</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Hasil Survey</h6>
                <a class="collapse-item" href="{% url 'responden-list' %}">Per Customer</a>
                <a class="collapse-item" href="cards.html">Semua</a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        General
    </div>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'keluhan-list' %}">
            <i class="fas fa-fw fa-comments"></i>
            <span>Keluhan</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'informasi-list' %}">
            <i class="fas fa-fw fa-info"></i>
            <span>Informasi</span></a>
    </li>
    
    <hr class="sidebar-divider">

    {% if request.user.role_user == 'super admin' %}
    <!-- Heading -->
        <div class="sidebar-heading">
            Manage Users
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'user-list' %}">
                <i class="fas fa-fw fa-user"></i>
                <span>User</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'customer-list' %}">
                <i class="fas fa-fw fa-user"></i>
                <span>Customer</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'instansi-list' %}">
                <i class="fas fa-fw fa-building"></i>
                <span>Instansi</span></a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="{% url 'ptm-list' %}">
                <i class="fas fa-fw fa-map-marker"></i>
                <span>Lokasi Ptm</span></a>
        </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    {% endif %}

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
    <div class="sidebar-card d-none d-lg-flex">
        <img class="sidebar-card-illustration mb-2" src="{% static 'img/logo_pertamina.png' %}" width="175" alt="...">
    </div>

</ul>